
  <app-home-page></app-home-page>
  
  <div class="container">

        <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <b>Academy Blog</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" > <b>Home</b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="getAbout()">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>

      <!-- Posts -->

      <!-- Recent posts -->
      <div class="row">
        <div class="col-4">
            <div class="container">
                <h1>Recent posts</h1>
          
              <ul>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Post #1</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Post #2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Post #3</a>
                    </li>
                </ul>
              </ul>
            </div>
        </div>

        <div class="col-8">
            <ul class="nav flex-column">

                <li class="nav-item">
                 <div class="row">
                    <div class="col-4">
                        <img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/327/327448/maine-coon-cat.jpg?w=1155&h=1537" alt="" class="img-thumbnail">
                    </div>

                    <div class="col-8">
                        <h4>Post #1</h4>
                        <div> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Iusto ad adipisci minima, porro quae aliquid tempore iste corrupti 
                            sapiente impedit voluptatum quas! Beatae vitae placeat 
                            voluptate aspernatur quos at quas!</p>
                            <p class="text-right"><a href="">Read more Comments (2)</a></p>
                        </div>  
                    </div>
                </div>
                </li>

                <li class="nav-item">
                    <div class="row">
                       <div class="col-4">
                           <img src="https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3.jpg" alt="" class="img-thumbnail">
                       </div>
   
                       <div class="col-8">
                           <h4>Post #2</h4>
                           <div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                               Iusto ad adipisci minima, porro quae aliquid tempore iste corrupti 
                               sapiente impedit voluptatum quas! Beatae vitae placeat 
                               voluptate aspernatur quos at quas!</p> 
                            <p class="text-right"><a href="">Read more Comments</a></p>
                           </div>  
                       </div>
                   </div>
                   </li>

                   <li class="nav-item">
                    <div class="row">
                       <div class="col-4">
                        <img src="https://pbs.twimg.com/media/D6g1-kiX4AAIvWk.jpg" alt="" class="img-thumbnail">
                       </div>
   
                       <div class="col-8">
                           <h4>Post #3</h4>
                           <div> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                               Iusto ad adipisci minima, porro quae aliquid tempore iste corrupti 
                               sapiente impedit voluptatum quas! Beatae vitae placeat 
                               voluptate aspernatur quos at quas!</p> 
                               <p class="text-right"><a href="">Read more Comments (99+)</a></p>
                           </div>  
                       </div>
                   </div>
                   </li>
            </ul>
        </div>

    </div>
  </div>